@model EXPERMIN.WEB.Models.Portal.PortalViewModel
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
@section Styles {
    <link href="~/assets/css/owl_carousel/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/views/portal/index.css" rel="stylesheet" asp-append-version="true" />
}


<!------------------------------------------------------------ INICIO: BANNER ------------------------------------------------------------>
@if (Model.Banner != null && Model.Banner.Count() > 0)
{
    <section>
        <div id="carouselExampleIndicators" class="carousel slide m-main-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-overlay"></div>

                @{
                    var count = 1;
                }
                @foreach (var item in Model.Banner.OrderBy(i => i.SequenceOrderId))
                {
                    <div class="carousel-item @(count == 1 ? "active" : string.Empty)">
                        <img class="img-fluid d-block w-100" src="@item.Image?.Url" alt="@item.Headline" slide />
                        <div class="carousel-caption">
                            <div class="carousel-caption-container">
                                <div class="row">
                                    <div class="col-12 col-md-6" style="margin:auto;text-align:center">
                                        <div class="inner-parallax">
                                            <div class="" style="text-align:center">
                                                <h1>@item.Headline</h1>
                                                <div class="text-center">
                                                    <a class="btn btn-lg btn-lc-green m-btn--pill" target="_blank" href="@(item.RouteType? item.UrlDirection: $"//{item.UrlDirection}")"> @item.NameDirection</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="order m--hide">@count</span>
                        </div>
                    </div>
                    count++;
                }
            </div>
            <div class="m-container m-container--responsive m-container--xxl m-page__container" style="position: absolute; z-index: 9998;">
                <span class="m-main-carousel__indicators h4">
                    <span class="m-main-carousel__indicators-page">1</span>
                    <span id="totalCount" class="m-main-carousel__indicators-total">/@Model.Banner.Count()</span>
                </span>
                <a class="btn btn-secondary btn-slider-prev m-btn--icon-only prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-angle-left"></i>
                </a>
                <a class="btn btn-secondary btn-slider-next m-btn--icon-only next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section>
}
<!------------------------------------------------------------ FIN: BANNER ------------------------------------------------------------>
<!------------------------------------------------------------ INICIO: PRODUCTOS ------------------------------------------------------------>
<div id="products">
    <div class="loading">Cargando productos...</div>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-lg btn-lc-transparent m-btn--pill" href="#">
        VER CAT&Aacute;LOGO
    </a>
</div>
<!------------------------------------------------------------ FIN: PRODUCTOS ------------------------------------------------------------>
<!------------------------------------------------------------ INICIO: NOSOTROS ------------------------------------------------------------>
<!------------------------------------------------------------ FIN: NOSOTROS ------------------------------------------------------------>
<!------------------------------------------------------------ INICIO: TESTIMONIOS ------------------------------------------------------------>
@* <section class="m-section m-section--gray m-section-banner m-section--gray">
    <div class="m-section-banner__content">
        <div class="m-container m-container--responsive m-container--xxl m-page__container">
            <h1 class="toast-title portal-title">ABOGADOS DESTACADOS</h1>
            <h5 class="text-center m--padding-bottom-20">Los mejores de nuestra firma digital</h5>
            <div class="m-section-banner__content-link-group">
                <div class="owl-carousel owl-theme carousel-top-lawyers-owl" id="owl2">
                    @foreach (var item in Model.TopLawyers)
                    {
                        <div class="item">
                            <div class="col-lg-8 col-md-8" style="margin:auto">
                                @await Html.PartialAsync("Partials/_LawyerCard", item)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section> *@
<!------------------------------------------------------------ FIN: TESTIMONIOS ------------------------------------------------------------>
<!------------------------------------------------------------ INICIO: COLABORADORES ------------------------------------------------------------>
@* <div class="" id="lawyer-banner">
</div> *@
<!------------------------------------------------------------ FIN: COLABORADORES ------------------------------------------------------------>
@section Scripts {
    <script src="~/assets/js/ow_carousel/owl.carousel.js" asp-append-version="true"></script>
    <script src="~/js/views/portal/index.js" asp-append-version="true"></script>
}
